.paginationControls {
  background-color: #2e2e2e;
  border-color: #484848;
  color: #c9c9c9;

  &:active,
  &:hover {
    background-color: #7c68ee;
  }

  &:where([data-active]) {
    background-color: #7c68ee;
  }
}
